services:
  postgres:
      image: postgres:15-alpine
      environment:
        POSTGRES_USER: admin_kazi
        POSTGRES_PASSWORD: Admin123
        POSTGRES_DB: kazitracker
      ports:
        - "5432:5432"
      volumes:
        - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
